[submodule "shell/plugins/zsh-syntax-highlighting"]
	path = shell/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "shell/plugins/fasd"]
	path = shell/plugins/fasd
	url = https://github.com/clvv/fasd
[submodule "shell/plugins/fzf-tab"]
	path = shell/plugins/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab
[submodule "shell/plugins/zbrowse"]
	path = shell/plugins/zbrowse
	url = https://github.com/zdharma/zbrowse.git
[submodule "shell/plugins/zconvey"]
	path = shell/plugins/zconvey
	url = https://github.com/zdharma/zconvey.git
[submodule "shell/plugins/fast-syntax-highlighting"]
	path = shell/plugins/fast-syntax-highlighting
	url = https://github.com/zdharma/fast-syntax-highlighting.git
[submodule "shell/plugins/powerlevel10k"]
	path = shell/plugins/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "shell/plugins/zui"]
	path = shell/plugins/zui
	url = https://github.com/zdharma/zui.git
[submodule "shell/plugins/zsh-autosuggestions"]
	path = shell/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "shell/plugins/z"]
	path = shell/plugins/z
	url = https://github.com/rupa/z.git
[submodule "shell/plugins/fz"]
	path = shell/plugins/fz
	url = https://github.com/changyuheng/fz.git
[submodule "shell/plugins/fzf-fasd"]
	path = shell/plugins/fzf-fasd
	url = https://github.com/wookayin/fzf-fasd.git
